$color-palette-1: #42145F;
$color-palette-2: #00B0Ca;
$color-palette-3: #71d6e0;
$color-palette-4: #8B8d8e;
$color-palette-5: #404545;

$color-accent-1: $color-palette-1;
$color-accent-2: $color-palette-2;
$color-accent-3: $color-palette-3;

$color-font: $color-palette-5;
$color-font-inverse: #f0f0f0;

$color-button-bg: $color-palette-4;
$color-button-fg: $color-palette-5;
$color-button-border: transparent;

$color-link-fg: $color-palette-2;
$color-link-hover: $color-palette-1;