
$font-title: 'Lato Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-content: 'Lato Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-link: 'Lato Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;